$color: #cfb53b;
%message{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 17px;
}
div{
  font-size: 18px;
  ol{
      color: blue;
  }
}
div{
  font-size: 18px;
  ul{
    color: green;
  }
}

body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  @extend %message;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: black;
  color: $color;
}

.topnav a.active {
  background-color: $color;
  color: black;
}


.drop {
  float: left;
  overflow: hidden;
}


.drop .dropbtn {
  @extend %message;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0; 
}


.drop:hover .dropbtn {
  background-color: black;
}


.drop-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.drop-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.drop-content a:hover {
  background-color: $color;
  color: black;
}


.drop:hover .drop-content {
  display: block;
}
* {
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 450px;
  margin: 0 auto;
  padding-top: 20px;
}

.container img {
  vertical-align: middle;
}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
.content {
  background-color: white;
  padding: 10px;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 60%;
}
div.galleryy img {
  width: 90%;
  height: 40%;
}

div.desc {
  padding: 10px;
  text-align: center;
  text-align: justify;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 10 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.center {
  text-align: center;
  list-style-position: inside;
}
ol.center li {
  text-align: left;
  margin-left: 45%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
}

ul.center li {
  text-align: left;
  margin-left: 45%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
h1 {
  color: $color;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#about ul li {
  @extend %message;
  text-align: center;
  margin-left: 45%;
  
}

#btm {
  clear: both;
  width: 100%;
  height: 18%;
  background-color: black;
  color: white;
  text-align: center;
}
#btm i {
  color: $color;
}
